.button {
    padding: 10px 25px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    font-size: 15px;
    font-weight: 600;
    color: #fff;
}
.purple {
    background-color: #8b8bf0;
}
.purple:hover {
    transition: 0.4s;
    background-color: #adadfa;
}
.sky-blue {
    background-color: #95dbfd;
}
.sky-blue:hover {
    transition: 0.4s;
    background-color: #bceaff;
}
.btn-icon {
    margin-right: 10px;
}