* {
    padding: 0;
    margin: 0;
    font-family: arial;
    box-sizing: border-box;
}

img {
    width: 100%;
    height: 100%;
    vertical-align: bottom;
}

span {
    display: inline-block;
}

body {
    background-color: #ffffff;
}

.d-flex {
    display: flex;
}

.position-a {
    position: absolute;
}

.position-r {
    position: relative;
}

.popup-header {
    padding: 15px;
    align-items: center;
    background-color: #fafafa;
    justify-content: space-between;
    border-bottom: 1px solid #eee;
}
.popup-title {
    font-size: 15px;
    font-weight: 600;
    color: #a5a5a5;
}
.popup-close {
    cursor: pointer;
    color: #ff5858;
}

::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #deebfd;
}

::-webkit-file-upload-button {
    color: #fff;
    border: none;
    padding: 15px;
    border-radius: 30px;
    background-color: #1b74e4;
    
    &:hover {
        background-color: #397fd4;
    }

}

// Common page padding for pages
.posts,
.save-section,
.inbox-section,
.create-section,
.profile-section,
.setting-section,
.notification-section
{
    padding-top: 70px;
}

.formRow {
    width: 100%;
    display: flex;
    padding: 10px 0;
    border-bottom: 1px solid #eee;
    
    .clm {
        width: 100%;
        padding: 10px;
    }
}
.row {
    width: 100%;
    display: flex;
    justify-content: center;
    
    .clm {
        width: 100%;
        padding: 0 10px;
    }
}
.row:last-child {
    border-bottom: none;
}
.row-head {
    z-index: 1;
    display: flex;
    min-height: 55px;
    padding: 5px 15px;
    align-items: center;
    background-color: #e8f4ff;
    justify-content: space-between;

    .head-titles {
        font-size: 18px;
        font-weight: 600;
    }
}

.middle-popup-main-container {
    z-index: 1;
    align-items: center;
    justify-content: center;
    background-color: #91919180;
    top: 0; right: 0; bottom: 0; left: 0;

}
.details-popup-container,
.delete-popup-container,
.edit-profile-container,
.edit-product-container,
.filter-container,
.more-container {
    overflow: hidden;
    border-radius: 10px;
    background-color: #fff;
}