* {
    padding: 0;
    margin: 0;
    font-family: arial;
    box-sizing: border-box;
}

img {
    height: 100%;
    width: 100%;
}

span {
    display: inline-block;
}

body {
    background-color: #ffffff;
}

.d-flex {
    display: flex;
}

.position-a {
    position: absolute;
}

.position-r {
    position: relative;
}

.popup-header {
    padding: 15px;
    background-color: #fafafa;
    justify-content: space-between;
    border-bottom: 1px solid #eee;
}
.popup-title {
    font-size: 15px;
    color: #a5a5a5;;
    font-weight: 600;
}
.popup-close {
    color: #ff5858;
    cursor: pointer;
}

::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #deebfd;
}

// Common page padding for pages
.posts,
.menu-body,
.create-section,
.profile-section,
.inboxes-section,
.notification-section
{
    padding-top: 70px;
}

.formRow {
    width: 100%;
    display: flex;
    padding: 10px 0;
    border-bottom: 1px solid #eee;
    
    .clm {
        width: 100%;
        padding: 10px;
    }
}
.row {
    width: 100%;
    display: flex;
    justify-content: center;
    
    .clm {
        width: 100%;
        padding: 0 10px;
    }
}
.row:last-child {
    border-bottom: none;
}
.row-head {
    z-index: 1;
    display: flex;
    justify-content: space-between;
    padding: 5px 15px;
    align-items: center;
    border-radius: 5px;
    background-color: #e8f4ff;

    .head-titles {
        font-size: 18px;
        font-weight: 600;
    }
}

.popup-main-container {
    z-index: 1;
    top: 0; right: 0; bottom: 0; left: 0;
    background: none;
}