.filter-body {
    height: 70px;
    padding: 0 15px;
    align-items: center;
    background-color: #fff;
    justify-content: space-between;
    box-shadow: 0 0 5px 2px #eee;
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee;
}
