.header-body {
    padding: 0 26px;
    height: 70px;
    width: 82%;
    align-items: center;
    position: fixed;
    background-color: #fff;
    z-index: 1;
    box-shadow: 0 0 5px 2px #eee;
    border-bottom: 1px solid #eee;
    justify-content: space-between;

    .header-tittle {
        font-size: 20px;
    }

    .user-image {
        max-width: 40px;
        overflow: hidden;
        max-height: 40px;
        border-radius: 50%;
    }

    .search-bar {
        background-color: #fff;
        box-shadow: 0 0 5px 5px #eee;
        border-radius: 10px;

        .input-body {
            min-width: 400px;
            padding: 0 15px;
            font-size: 17px;
            background: none;
        }
        .search-icon {
            background: none;

            &:hover {
                color:  #397fd4;
            }
        }
    }
}