.header-body {
    padding: 10px;
    margin-bottom: 30px;
    min-height: 60px;
    max-width: 100%;
    position: fixed;
    justify-content: space-between;
    background-color: khaki;
    z-index: 1;
    box-shadow: 0 0 0 #000;
}