.header-body {
    width: 82%;
    z-index: 1;
    height: 70px;
    position: fixed;
    padding: 0 26px;
    align-items: center;
    background-color: #fff;
    justify-content: space-between;
    box-shadow: 0 0 5px 2px #eee;
    border-bottom: 1px solid #eee;

    .header-tittle {
        font-size: 20px;
    }

    .user-image {
        cursor: pointer;
        max-width: 50px;
        overflow: hidden;
        max-height: 50px;
        border-radius: 50%;
        border: 1px solid #1b74e4;
    }

    .search-bar {
        min-width: 30%;
        padding: 3px 0;
        margin-left: -10%;
        border-radius: 5px;
        background-color: #fff;
        box-shadow: 0 0 5px 5px #eee;

        .input-body {
            padding: 0 15px;
            font-size: 17px;
            background: none;
        }
        .search-icon {
            background: none;

            &:hover {
                color:  #397fd4;
            }
        }
    }
}

.test {
    padding: 15px;
    background-color: red;
}