.input-wrapper {
    display: flex;
    padding: 0 10px;
    border-radius: 5px;
    align-items: center;
    background-color: #eee;
    
    .input-icon {
        color: #a1a1a1;
        font-size: 18px;
        padding: 0 10px;
    }
}
.input-body {
    width: 100%;
    border: none;
    outline: none;
    padding: 10px 0;
    font-size: 17px;
    background: none;
    
    
    &.textarea {
        resize: vertical;
        min-height: 120px;
        border-radius: 5px;
        background-color: #eee;
    }
    &.file {
        cursor: pointer;
        min-height: 120px;
        padding: 35px 15px;
        border-radius: 5px;
        background-color: #eee;
    }
    &.select-input {
        border-radius: 5px;
        background-color: #eee;
    }
    
}
.required {
    color: #ff0505;
    font-size: 15px;
}

.label {
    font-size: 15px;
    color: #a5a5a5;
    margin-bottom: 5px;
}