.input-body {
    width: 100%;
    border: none;
    outline: none;
    margin: 5px 0;
    padding: 10px;
    font-size: 17px;
    border-radius: 5px;
    background-color: #eee;

    
    &.textarea {
        resize: none;
        min-height: 120px;
    }
    &.file {
        cursor: pointer;
        min-height: 120px;
        padding: 35px 15px;
    }
    
}
.required {
    color: #ff0505;
    font-size: 15px;
}

.label {
    font-size: 15px;
    color: #a5a5a5;
    margin-bottom: 5px;
}