.input-wrapper {
    display: flex;
    padding: 0 10px;
    border-radius: 5px;
    align-items: center;
    background-color: #eee;
    border: 1px solid transparent;

    &.valid {
        border: 1px solid #5ad15a;
    }
    &.invalid {
        border: 1px solid #ff5858;
    }
    
    .input-icon {
        color: #a1a1a1;
        font-size: 18px;
        padding: 0 10px;
    }
    
    .validation {
        font-size: 15px;
        padding: 2px 5px;
        border-radius: 3px;
        top: -25px; right: 0;
        
        .validation-icon {
            font-size: 10px;
            margin-right: 5px;
        }
        &.valid {
            color: #5ad15a;
            background-color: #bffcbf7c;
        }
        &.invalid {
            color: #ff5858;
            background-color: #ffcdcd8e;
        }

    }

}
.input-body {
    width: 100%;
    border: none;
    outline: none;
    padding: 10px 0;
    font-size: 17px;
    background: none;
    
    
    &.textarea {
        resize: vertical;
        min-height: 120px;
        border-radius: 5px;
        background-color: #eee;
    }
    &.file {
        cursor: pointer;
        min-height: 120px;
        padding: 35px 15px;
        border-radius: 5px;
        background-color: #eee;
    }
    &.select-input {
        border-radius: 5px;
        background-color: #eee;
    }
    
}
.required {
    color: #ff0505;
    font-size: 15px;
}

.label {
    font-size: 15px;
    color: #a5a5a5;
    margin-bottom: 5px;
}