.list-type {
    font-size: 13px;
    color: #e1e1e1;
    padding: 10px 15px;
    position: relative;
}
.item-type-logo {
    top: 11px;
    width: 15px;
    right: 15px;
    height: 15px;
    position: absolute;
}