.menu_item {
    margin: 10px;
    color: #000;
    font-size: 18px;
    padding: 12px 10px;
    align-items: center;
    border-radius: 5px;
    text-decoration: none;

    &:hover {
        transition: 0.3s;
        background-color: #eee;

        .icon {
            color: #ff5858;
        }
    }

    .item-text {
        font-size: 16px;
    }

    .icon {
        font-size: 25px;
        margin-right: 15px;
    }

    .red {
        color: #ff5858;
    }
}