.menu_item {
    margin: 10px;
    color: #000;
    display: block;
    font-size: 18px;
    padding: 10px 15px;
    align-items: center;
    border-radius: 10px;
    text-decoration: none;

    .icon {
        font-size: 25px;
        font-weight: 100;
        margin-right: 20px;
    }
}
.menu_item:hover {
    color: #000;
    transition: 0.3s;
    background-color: #eee;
}