.menu_item {
    color: #000;
    margin: 0 10px;
    font-size: 18px;
    cursor: pointer;
    padding: 8px 10px;
    border-radius: 10px;
    align-items: center;
    text-decoration: none;
    border-left: 4px solid transparent;

    &:focus {
        // transform: scale(5deg);
        border-left: 4px solid #397fd4;
    }

    &:hover {
        // after clicked
        transition: 0.3s;
        background-color: #f0f2f5;
    }

    .menu-img {
        max-width: 40px;
        max-height: 40px;
        overflow: hidden;
        margin-right: 15px;
        border-radius: 50%;
        border: 1px solid #397fd4;
    }

    .item-text {
        font-size: 15px;
        font-weight: 600;
        color: #555555;
        font-family: inherit;
    }
    
    .icon {
        padding: 10px;
        max-width: 55px;
        max-height: 55px;
        font-size: 20px;
        margin-right: 15px;
        border-radius: 50%;
        background-color:#e6e6e6;
    }

    .red {
        color: #ff5858;
    }
    
    .notification {
        font-size: 14px;
        color: #ff5858;
        top: 10px; left: 40px;
    }
}