.new-posts {
    width: 19%;
    max-height: 397px;
    cursor: pointer;
    overflow: hidden;
    margin: 10px auto;
    border-radius: 5px;
    border: 1px solid #eee;
    box-shadow: 0 0 5px 2px #eee;
    
    .post-images {
        border-bottom: 1px solid #eee;
        height: 290px;
        align-items: center;

        img {
            height: auto;
        }
    }

    .info-section {
        padding: 10px;

        .price {
            font-size: 15px;
            margin-right: 10px;
            color: #a1a1a1;

            &.old {
                color: red;
            }
        }
        
        .product-name {
            padding: 8px 0;
            font-size: 15px;
            font-weight: 600;
        }
        
        .location {
            font-size: 15px;
            color: #a1a1a1;

            .locket-icon {
                color: #1b74e4;
                font-size: 15px;
            }
        }
    }
}