.new-posts {
    min-width: 19%;
    cursor: pointer;
    overflow: hidden;
    margin: 10px auto;
    border-radius: 5px;

    .info-section {
        padding: 10px 0;

        .price {
            font-size: 15px;
            margin-right: 10px;
            color: #a1a1a1;

            &.old {
                color: red;
            }
        }
        
        .product-name {
            padding: 8px 0;
            font-size: 15px;
            font-weight: 600;
        }
        
        .location {
            font-size: 15px;
            color: #a1a1a1;
        }
    }
}