.new-product {
    width: 16%;
}
.own-product {
    width: 19%;
}
.new-product, .own-product {
    cursor: pointer;
    overflow: hidden;
    max-height: 400px;
    margin: 5px auto;
    border-radius: 5px;
    border: 1px solid #eee;


    &:hover {

        box-shadow: 0 0 10px 2px #eee;
    }
    
    .product-images {
        height: 250px;
        overflow: hidden;
        align-items: center;
        border-bottom: 1px solid #eee;

        img {
            height: auto;
        }
    }

    .info-section {
        padding: 10px;

        .price {
            font-size: 15px;
            margin-right: 10px;
            color: #a1a1a1;

            &.old {
                color: red;
            }
        }
        
        .product-name {
            padding: 8px 0;
            font-size: 15px;
            overflow: hidden;
            font-weight: 600;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
        
        .location {
            font-size: 15px;
            overflow: hidden;
            color: #a1a1a1;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        .locket-icon {
            color: #1b74e4;
            font-size: 15px;
        }
    }
}