.story-wrapper {
    border: none;
    cursor: pointer;
    background: none;
    padding: 5px 10px;
    margin-right: 15px;
    border-radius: 10px;
    
    .img-box {
        width: 61px;
        height: 60px;
        margin: 0 auto;
        overflow: hidden;
        border-radius: 50%;
        border: 2px solid #ff5858;
    }
    .username {
        font-size: 12px;
        margin-top: 7px;
    }
}
