.sug-user-wrapper {
    margin: 10px 0;
    align-items: center;
    justify-content: space-between;

    .sug-user-image {
        max-width: 35px;
        max-height: 35px;
        overflow: hidden;
        border-radius: 50%;
        margin-right: -100px;
        border: 2px solid #ff5858;
    }
    .sug-full-name {
        font-size: 13px;
        color: #888888;
        margin-top: 3px;
    }
}