.user-image {
    max-width: 35px;
    max-height: 35px;
    margin-top: -3px;
    overflow: hidden;
    border-radius: 50%;
    border: 3px solid #8b8bf0;
}
.name {
    font-size: 16px;
    color: #c7c7c7;
    margin: auto 10px;
}