.user-wrapper {
    align-items: center;

    .user-image {
        max-width: 25px;
        max-height: 25px;
        overflow: hidden;
        border-radius: 50%;
        color: #888888;
    }
    .user-name {
        font-size: 13px;
        margin-top: 5px;
    }
}