.name-image {
    text-align: center;
    padding: 30px 20px;
}
.img-position {
    max-width: 35%;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 50%;
    border: 5px solid #8b8bf0;
}
.user-name {
    margin: 10px 0;
    font-size: 25px;
    color: #242a55c4;
}
.buttons {
    margin-top: 15px;
    padding: 15px 0;
}
.btn-wrapper {
    margin: 0 30px;
}
.user-id {
    font-size: 16px;
    color: #c7c7c7;
}