* {
    padding: 0;
    margin: 0;
    font-family: arial;
    box-sizing: border-box;
}
.main-container {
    display: flex;
}
.nav-body {
    width: 14%;
}
.landing-body {
    width: 86%;
    position: relative;
}