.main-body {
    margin: 0 auto;
    padding-top: 30px;
    max-width: 1050px;

    .post-section {
        min-width: 65%;
        padding: 0 30px;
    }
    .suggested-section {
        padding: 20px;
        min-width: 35%;

        .suggest-tittle {
            margin: 20px 0;
            justify-content: space-between;

            .tittle {
                font-size: 15px;
                color: #a5a5a5;
                font-weight: 600;
            }
        }
        .suggest-others {
            max-height: 230px;
            overflow: hidden;
        }
    }
}