.filter-container {
    z-index: 1;
    width: 100%;
    top: 70px; left: 0;
    align-items: center;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    box-shadow: 0 0 10px 5px #e9e9e9;
    
    .container {
        padding: 0 15px 15px 15px;
        
        .filter-buttons {
            padding-top: 15px;
            align-items: center;

            .filter-search {
                text-align: right;
            }
        }
    }
}