.setting-section {
    height: 100vh;
    background-color: #f0f2f5;

    .setting-body {
        padding: 15px;
        max-width: 50%;
        margin: 40px auto;
        border-radius: 10px;
        background-color: #fff;

        .setting-tittle {
            font-size: 25px;
            font-weight: 600;
            padding: 0 0 20px 5px;
            border-bottom: 1px solid #eee;
        }
        
        .setting-wrapper {
            padding: 5px;

            .settings {
                width: 50%;
            }
        }
    }
}