.user-bg-body {
    padding: 95px 85px;
    overflow: hidden;
    background-color: #e7e7e75e;
}
.profile-wrapper {
    height: 100%;
    overflow: auto;
}
.blue-circle {
    width: 300px;
    height: 300px;
    z-index: -1;
    display: block;
    border-radius: 50%;
    background-color: #8b8bf0;
}
.top-left {
    top: -90px;
    left: -80px;
}
.bottom-right {
    right: -100px;
    bottom: -60px;
}