.profile-left-panel {
    width: 20%;
    height: 92vh;
    padding: 40px 15px;
    align-items: center;
    overflow: auto;
    border-right: 1px solid #eee;

    .profile-header {
        align-items: center;
        flex-direction: column;

        .user-image-box {
            width: 120px;
            height: 120px;
            overflow: hidden;
            border-radius: 50%;
            margin-bottom: 15px;
        }
    }
    .userName {
        margin: 10px 0;
        font-size: 15px;
        font-weight: 600;
    }
    
    .fullName {
        font-size: 18px;
        color: #a5a5a5;
    }

    

    .profile-edit {
        margin: 0px 0;
        padding: 20px 0;
        justify-content: space-around;
    }
}

.infos {
    margin: 10px 0;

    .label {
        font-weight: 600;
        margin-right: 10px;
        font-size: 15px;
    }
    .email, .mobile, .bio {
        color: #a5a5a5;
        font-size: 15px;
        line-height: 1.3rem;
    }
}

.profile-right-panel {
    width: 80%;
    height: 92vh;
    padding: 20px;
    overflow: auto;
    // flex-direction: column;

    div {
        height: 300px;
        border-bottom: 1px solid #eee;
    }
}