.profile-left-panel {
    width: 20%;
    padding: 40px 0;
    align-items: center;
    border-right: 1px solid #eee;

    .profile-header {
        align-items: center;
        flex-direction: column;

        .user-image-box {
            width: 120px;
            height: 120px;
            overflow: hidden;
            border-radius: 50%;
            margin-bottom: 15px;
        }

        .userName {
            margin: 10px 0;
            font-size: 15px;
            font-weight: 600;
        }
        
        .fullName {
            font-size: 18px;
            color: #a5a5a5;
        }
    }

    .profile-edit {
        margin: 20px 30px;
        padding: 20px 0;
        border-top: 1px solid #eee;
        border-bottom: 1px solid #eee;
        justify-content: space-around;
    }
}

.profile-right-panel {
    width: 80%;
    height: 100vh;
    padding: 20px;
    overflow: auto;

    div {
        height: 300px;
        border-bottom: 1px solid #eee;
    }
}