.details-popup-container {
    width: 65%;
    height: 70%;
    
    .content {
        padding: 15px;
    
        .post-images {
            overflow: hidden;
            border-radius: 10px;
            border: 1px solid #eee;
        }
    
        .info-section {
            padding: 10px 0;
            align-items: center;
            justify-content: space-between;
    
            .price {
                font-size: 15px;
                color: #a1a1a1;
                margin-right: 10px;
    
                &.old {
                    color: #ff5858;
                }
            }
            
            .product-name {
                padding: 8px 0;
                font-size: 18px;
                font-weight: 600;
            }
            
            .location {
                font-size: 15px;
                color: #a1a1a1;
    
                .locket-icon {
                    color: #1b74e4;
                    font-size: 15px;
                }
            }
    
            .message-seller {
                width: 50%;
                padding: 5px;
                border-radius: 5px;
                background-color: #eee;
            }
    
            .message-value {
                width: 100%;
                border: none;
                margin-right: 10px;
                padding: 0 10px;
                font-size: 15px;
                cursor: not-allowed;
                border-radius: inherit;
                background-color: #fff;
            }
        }
    
        
    }
}


.column-left {
    width: 70%;
    padding-right: 15px;
}
.column-right {
    width: 30%;
    height: 80vh;
    overflow: auto;

    .product-infos {
        margin: 20px 0;
        align-items: center;

        .condition {
            font-size: 15px;
            padding: 5px 8px;
            border-radius: 4px;
            display: inline-block;
        
            &.New {
                color: green;
                background-color: #bffcbf7c;
            }
            &.Used {
                color: #ff5858;
                background-color: #f7b7b777;
            }
        }

        .info-tittle {
            font-weight: 600;
            font-size: 16px;
            margin-right: 5px;
        }
        .infos {
            color: #a1a1a1;
            font-size: 15px;
            line-height: 1.3;
        }
    }
}