.edit-profile-container {
    width: 40%;
    overflow: hidden;
    border-radius: 10px;
    top: 8%; left: 30%;
    background-color: #fff;
    align-items: center;
    box-shadow: 0 0 10px 5px #cfcfcf;

    .form-container {
        padding: 15px;
    }
}