.edit-profile-container {
    width: 40%;
    overflow: hidden;
    top: 8%; left: 30%;
    border-radius: 10px;
    align-items: center;
    background-color: #fff;

    .form-container {
        padding: 15px;
    }
}