.delete-popup-container {
    width: 18%;

    .alert-text {
        padding: 15px;
    }

    .alert-btn {
        padding: 15px;
        align-items: center;
        border-top: 1px solid #eee;
        justify-content: space-between;
    }
}

